---
import type { Categories, Products } from "../data";
import { capitalizeFirstLetter } from "./utils";

export interface Props {
  categories: Categories;
  products: Products;
}
const { categories, products } = Astro.props;
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Les produits de la gamme ROYAL</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              {
                categories.map((category, index) => {
                  const tabId = category.replaceAll(" ", "_");
                  const classTab = index === 0 ? "tab-pane active" : "tab-pane";

                  return (
                    <li class={classTab}>
                      <a data-toggle="tab" href={`#tab${tabId}`}>
                        {capitalizeFirstLetter(category)}
                      </a>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            {
              Object.entries(products).map(
                ([category, productRanges], index) => {
                  const tabId = category.replaceAll(" ", "_");
                  const classTab = index === 0 ? "tab-pane active" : "tab-pane";
                  return (
                    <div id={`tab${tabId}`} class={classTab}>
                      <div
                        class="products-slick"
                        data-nav={`#slick-nav-${tabId}`}
                      >
                        {Object.values(productRanges).map(
                          (productItems, index) => {
                            return productItems.map((product) => {
                              return (
                                <div class="product">
                                  <a href={`/products/${product.id}`}>
                                    <div class="product-img">
                                      <img
                                        src={`/img/${product.img[0]}`}
                                        alt=""
                                      />
                                      <div class="product-label">
                                        <span class="new">NEW</span>
                                      </div>
                                    </div>
                                    <div class="product-body">
                                      <p class="product-category">
                                        {capitalizeFirstLetter(category)}
                                      </p>
                                      <h3 class="product-name">
                                        <a href="#">{product["id"]}</a>
                                      </h3>
                                      <h4 class="product-price">
                                        {`${product["PVP"]} MAD`}
                                      </h4>
                                      <p />
                                    </div>
                                  </a>
                                </div>
                              );
                            });
                          }
                        )}
                      </div>
                      <div
                        id={`slick-nav-${tabId}`}
                        class="products-slick-nav"
                      />
                    </div>
                  );
                }
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
