---
import royalJson from '../components/royal.json';
export interface Props {
	title: string;
}

const { title } = Astro.props;

if (!royalJson) {
    // deal with error...
}


const stores = royalJson['products'];
const accueil = royalJson['accueil'];

const firstCategory = Object.keys(stores);

const categories = Object.keys(stores);

const {path} = Astro.params;
let active = 'index';
const category = Astro.url.searchParams.get('category')
if (category) {

    active = category;

}

if (path?.includes('contact')) {
    active = 'contact';
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>ROYAL - SMART APPLIANCES</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="src/styles/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="src/styles/slick.css"/>
    <link type="text/css" rel="stylesheet" href="src/styles/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="src/styles/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="src/styles/font-awesome/css/font-awesome.min.css">

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="src/styles/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="src/styles/style.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->

</head>
<body>

<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="mailto:contact@royal.umareq.com"><i class="fa fa-envelope-o"></i> contact@royal.umareq.com</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="contact.php"><i class="fa fa-envelope"></i> Passez votre commande</a></li>
                <li class="btn-mini" style="font-size:20px">
                    <a target="_blank"
                       href="https://wa.me/212661664475?text=Bonjour%2C%0D%0AJe+voudrai+avoir+des+informations+sur+les+produits+ROYAL.%0D%0AMerci"><img
                                src="/whatsupp.png" width="30" height="30"/>
                        <span style="color:white" id="whatsuppNum">+212661664475</span></a> </li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">

                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div style="margin: 0 auto; display: table;">
                        <a href="index.php" class="logo">
                            <img src="/logo.png" height="150px" alt="">
                        </a>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">


                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- NAVIGATION -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class={active === 'index' ? "active" : ""}><a href="/">Accueil</a></li>
                { categories.map(category => {
                    if(active === category)
                    {
                        return <li class="active" ><a href="/store?category={category}" >{category.toUpperCase()}</a ></li >;
                    }else
                    {
                        return <li ><a href="/store?category={category}" >{category.toUpperCase()}</a ></li >;
                    }
                })}
                <li class={active === 'contact' ? "active" : ""}><a href="contact.php" >Nous contacter</a ></li>
            </ul>
        </div>
    </div>
</nav>
<slot />
</body>
</html>
<!-- /HEADER -->